@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.navbar{
    display: inline-block;
    background-color: #358fef;
    width: 100%;
    padding: 10px;
}
.nav-title{
    margin-left: 15px;
    color: #ffffff;
    float: left;
    font-size: 16px;
    font-family: poppins;
}

.links{
    float: left;
    margin-right: 30px;
    height: 3em;
}
#logo-cont{
    width:175px;
    height: 175px;
    overflow: hidden;
    position: absolute;
    right:0px;
    top:-10px;
}
#logo-cont > img{
    width: 100%;
    height:100%;
}
.links > a{
    margin-right: 10px;
    color:aliceblue;
    font-weight: bold;
    font-family: poppins;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    text-align: center;
    line-height: 100% ;
    text-transform: uppercase;
}
#attendence{
    position: relative;
    top: 20%;
}
.container{
    text-align: center;
    border: 1px solid grey;
    width: 300px;
    height: 200px;
    padding: 30px 30px 30px 30px;
    background-color: #ffffff;
    border-radius: 25px;
    margin: auto;
    
}




.input-field {
    
    width: 70px;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 30px;
    border-radius: 55px;
    padding: 0 0.4rem;
    text-align: center;
  }

.box-title{
    font-size: 30px;
    font-family: poppins;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}



.list1, .list2, .list3, .list4{
    color: grey;
    display: inline-block;
    width: 10em;
    text-align: left;
    
}
label{
    display: inline-block;
    width: 5em;
}


#output{
    width: 15rem;
    background-color: #eeeeee;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-radius: 55px;
    padding: 0 0.4rem;
    text-align: center;
    opacity: 1;
    
}

#btn1{
    background-color: #358fef;
    border-radius: 30px;
    color: #ffffff;
    border: none;
    height: 30px;
    width: 120px;
    font-family: poppins;
}

.container-area{
    position: relative;
    top:200px;
}
